body {
      background: url("Year4A.png");
      background-repeat: no-repeat;
      background-size: cover;
      font-size: medium;
}

h3 {
      border-style: dotted;
      border-width: 10px;
      border-radius: 20px;
      border-color: #FBF5E5;
      margin: 30px;
      padding: 10px;
      font-size: 100px;
      color: black;
      font-family: 'Bacasime Antique', serif;
}

.btn {
      border-width: 2px !important;
      border-style: ridge !important;
      font-family: 'Merriweather', serif !important;
      font-weight: bolder;
      letter-spacing: 2px;
      border-radius: 10px;
}

.btn-primary {
      background-color: #fbf5e5 !important;
      color: #a1b8ef !important;
      border-color: #fcccbd !important;
}

.btn-success {
      background-color: #B8F1E5 !important;
      color: #a1b8ef !important;
      border-color: #fbf5e5 !important;
}

.btn-outline-success {
      color: black !important;
      border-color: #fbf5e5 !important;
}

.btn-outline-success:hover {
      background-color: #B8F1E5 !important;
      color: #a1b8ef !important;
      border-color: #fbf5e5 !important;
}

li,
th {
      font-family: 'Merriweather', serif;
      font-size: 20px;
}

.copyright {
      position: fixed;
      bottom: 0;
      color: #FBF5E5;
      width: 100%;
      background: #a1b8ef;
      text-align: right;
      line-height: 2;
      font-size: 20px;
      font-weight: 700;
}